
#header{
    
    height: 15%;
    widows: 100;
}

#navbar {
 background-color:gray;
 height: 10%;
 width: 95%;
 float: right;
}


#sidebar{
 background-color: gray;
 height: 85%;
 width: 5%;
 float: left;
 
 
}

#main{
    
    height: 65%;
    width: 65%;
    float: left;
    
}

#chat {
    
    height: 70%;
    width: 29%;
    float: right;
    
    
}

#footer{
    background-color: gray;
    float:left;
    width: 100%;


}

.erobb{
    height: 90px;
    margin: left 20px;
    float: left;

}

.ele{
    float: left;
    margin: 20px;
}

.Navigation li{
    float:left;
    margin-left: 30px;
    font-size: 20px;
    text-transform: uppercase;
    list-style-type: none;
    
}
.Navigation li :hover{
background-color: black;

}

.center-text, .copyright{
    text-align: center;
}

.sidebar-pic{
    position: relative;
    height: 30px;
    float: left;
    margin: 20px;
    margin-top:20px;
}

.chatpic, .chatpic2{
    height: 500px;
    float: right;
}



.current{
    background-color: black;
    
}

.text{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}


#main1,#main2,#main3,#main4{
    height: 243px;
    width: 445px;
    float:left; 
    display:auto;
    margin: 10 px;
   align-self: center;
   border: 1px solid black;
   box-sizing: border-box;
   
   
}

#main1,#main4{
    background-color:lightgray;
}

#main2,#main3{
    background-color:lightyellow;
}

.box5{
    width: 500px;
    height: 400px;
    margin: auto;
    background-color:grey;
    border: 1px solid black;
    margin-top:40px;
}

.inputs{
    margin:15px;
    border: 2px solid black;
    border-radius: 2px;
}

